* {
  margin: 0;
  padding: 0;
  font-family: "Museo Sans Cyrl", sans-serif;
}

body {
		position: relative;

}

a {
  color: black;
  text-decoration: none;
}

.cta {
  margin: 0 auto;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Museo Sans Cyrl", sans-serif;
  width: 100%;
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: white;
  background-color: #f7921d;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
}


.arrow {
  margin-right: 5px;
  width: 25px;
  height: 25px;
}

.phone:hover {
  color: #f7921d;
}

.mobile-menu {
  width: 25px;
  height: 25px;
}

.hide {
  display: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.woff2") format("woff2"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.woff2") format("woff2"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: 'BookAntiqua';
  src: url("../fonts/BookAntiqua/BookAntiqua-500.eot");
  src: url("../fonts/BookAntiqua/BookAntiqua-500.eot?#iefix") format("embedded-opentype"), url("../fonts/BookAntiqua/BookAntiqua-500.woff2") format("woff2"), url("../fonts/BookAntiqua/BookAntiqua-500.woff") format("woff"), url("../fonts/BookAntiqua/BookAntiqua-500.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'BookAntiqua';
  src: url("../fonts/BookAntiqua/BookAntiqua-700.eot");
  src: url("../fonts/BookAntiqua/BookAntiqua-700.eot?#iefix") format("embedded-opentype"), url("../fonts/BookAntiqua/BookAntiqua-700.woff2") format("woff2"), url("../fonts/BookAntiqua/BookAntiqua-700.woff") format("woff"), url("../fonts/BookAntiqua/BookAntiqua-700.ttf") format("truetype");
  font-weight: 700;
}

.header {
  padding: 20px 0;
  font-family: "Museo Sans Cyrl", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-logo {
  text-align: center;
  font-weight: 500;
  font-size: 25px;
}

.header-menu {
  width: 30%;
}

.header-menu-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header-menu-block::before {
  -webkit-transition: all ease-in .2s;
  transition: all ease-in .2s;
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d6d8db;
  bottom: -8px;
  opacity: .5;
}

.header-menu-block-item {
  font-size: 16px;
  position: relative;
}

.header-menu-block-item:hover::before {
  -webkit-transition: all ease-in .2s;
  transition: all ease-in .2s;
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #f98715;
  bottom: -8px;
  border-radius: 2px;
}

.header-menu-block-item::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0px;
  background-color: #f98715;
  bottom: -2px;
}

.header-contacts {
  text-align: center;
}

.header-contacts-block-phone {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.mobile-menu {
  cursor: pointer;
  display: none;
}

.mobile-contacts, .mobile-text {
  display: none;
}


.main {
  padding: 40px 0;
  font-family: "Museo Sans Cyrl", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-text {
  max-width: 450px;
}

.main-text-title {
  text-align: left;
  font-size: 26px;
  margin-bottom: 20px;
}

.main-text-advantages ul {
  display: inline-block;
  vertical-align: middle;
}

.main-text-advantages ul li {
  margin-bottom: 35px;
  margin-left: 70px;
  position: relative;
}

.main-text-advantages ul li::after {
  content: "";
  display: inline-block;
  min-height: inherit;
  height: 100%;
  vertical-align: middle;
}

.main-text-advantages ul li::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: -70px;
  width: 60px;
  height: 60px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-text-advantages ul li span {
  font-weight: 700;
}

/* adv icons */
.main-text-advantages ul li:nth-child(1)::before {
  background-image: url('../img/main/adv-1.svg');
}

.main-text-advantages ul li:nth-child(2)::before {
  background-image: url('../img/main/adv-2.svg');
}

.main-text-advantages ul li:nth-child(3)::before {
	background-image: url('../img/main/adv-3.svg');
}

.main-text-advantages ul li:nth-child(4)::before {
	background-image: url('../img/main/adv-4.svg');
}

.main-text-advantages ul li:nth-child(5)::before {
  background-image:  url('../img/main/adv-5.svg');
}

.main-form {
  max-width: 260px;
  padding: 40px 20px;
  text-align: center;
  -webkit-clip-path: polygon(100% 0, 100% 88%, 50% 100%, 0 88%, 0 0);
          clip-path: polygon(100% 0, 100% 88%, 50% 100%, 0 88%, 0 0);
  background-color: #221f1f;
  position: relative;
}

.main-form-title {
  font-size: 23px;
  color: white;
  margin-bottom: 20px;
}

.main-form-title span {
  color: #f7921d;
}

.main-form-subtitle {
  color: #919193;
  font-size: 12px;
  margin-bottom: 20px;
}

.main-form-input {
  height: 36px;
  font-size: 13px;
  padding-left: 15px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  width: 100%;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-weight: bold;
  border: 2px solid #929497;
}

.main-form-input:focus {
  border: 2px solid #f7921d;
  -webkit-box-shadow: 0px 0px 10px 1px #ad7900;
          box-shadow: 0px 0px 10px 1px #ad7900;
}

@media (max-width: 1199px) {
  .header-menu {
    width: 40%;
  }
}

@media (max-width: 991px) {
  .mobile-menu, .mobile-contacts, .mobile-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-text {
    text-align: right;
  }
  .header {
    background-color: #fff9f3;
    padding: 0;
  }
  .header-menu {
    display: none;
  }
  .header-contacts {
    display: none;
  }
  .header .logo-text {
    display: none;
  }
  .main-text {
    max-width: none;
    width: 60%;
  }
  .main-text-advantages ul li::before {
    width: 45px;
    height: 45px;
    left: -60px;
  }
  .main-text-title {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }
  .main-door {
    display: none;
  }
  .main-form {
    padding-top: 15px;
  }
}

@media (max-width: 575px) {
  .mobile-text {
    z-index: -1000;
    display: none;
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-text {
    max-width: none;
    text-align: center;
    width: 100%;
    text-align: left;
  }
  .main-text-advantages ul li::before {
    width: 40px;
    height: 40px;
    left: -60px;
  }
  .main-text-title {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }
  .main-door {
    display: none;
  }
  .main-form {
    max-width: 100%;
    padding-top: 15px;
    -webkit-clip-path: none;
            clip-path: none;
  }
}
